In [176]:
import re   #regular expression
import pandas as pd

In [177]:
f=open("WhatsApp Chat with Ananya.txt","r",encoding="utf-8")

In [178]:
data=f.read()

In [179]:
# creating a patern for regular expression
pattern ="\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s\S{2}\s-\s"  #string of regex

In [180]:
message=re.split(pattern,data)[1:] #selecting messages

In [181]:
# selecting dates
dates=re.findall(pattern,data)

In [182]:
df=pd.DataFrame({"message":message,"date":dates})

In [183]:
# date=pd.to_datetime(dates,format=" %m/%d/%y, %I:%M %p - ")

In [184]:
# separate user and message
user=[]
message=[]
for mess in df["message"]:
    data=re.split('([\w\W]+?):\s',mess)
    if data[1]:
        user.append(data[1])
        message.append(data[2])
    else:
        user.append("group_notification")
        message.append(data[0])
df["message"]=message
df["user"]=user

In [185]:
year=[]
for i in df['date']:
    if i[1]=='/':
        if i[3]=='/':
            year.append('20'+i[4:6])
        else:
            year.append('20'+i[5:7])
    else:
        if i[4]=='/'and i[2]=='/':
            year.append('20'+i[5:7])
        else:
            year.append('20'+i[6:8])
df['year']=year

In [186]:
month=[]
for i in df['date']:
    if i[2]=='/':
        month.append(i[0:2])
    else:
        month.append(i[0:1])
df['month']=month

In [187]:
hours=[]
minutes=[]
unit=[]
for i in df['date']:
        hours.append(i[-11:-9])
        minutes.append(i[-8:-6])
        unit.append(i[-5:-3])
df["hours"]=hours
df["minutes"]=minutes
df["unit"]=unit

In [188]:
date=[]
for i in df['date']:
    if i[2]=='/':
        if i[5]=='/':
            date.append(i[3:5])
        else:
            date.append(i[3:4])
    else:
        if i[4]=='/':
            date.append(i[2:4])
        else:
            date.append(i[2:3])
df['date']=date

In [189]:
df.head()

             message date      user  year month hours minutes unit
0  Online dena h ?\n   15    Ananya  2022    12     5      50   PM
1            Vhi üòë\n   15  A.K Soni  2022    12     5      50   PM
2               Ha\n   15  A.K Soni  2022    12     5      50   PM
3                üòÅ\n   15  A.K Soni  2022    12     5      50   PM
4                üòÅ\n   15    Ananya  2022    12     5      50   PM